body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box-left {
  position: absolute;
  border: 25px solid;
  border-top-color: black;
  border-left-color: black;
  border-bottom-color: transparent;
  border-right-color: transparent;
  height: 115px;
  width: 115px;
  animation: left-rotate .6s forwards;
}

@keyframes left-rotate {
  from {
    transform: translateX(-125%) rotate(90deg);
    opacity: 0;
  }
  to {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

.box-right {
  position: absolute;
  border: 25px solid;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: black;
  border-right-color: black;
  height: 115px;
  width: 115px;
  animation: right-rotate .6s forwards;
}

@keyframes right-rotate {
  from {
    transform: translateX(125%) rotate(90deg);
    opacity: 0;
  }
  to {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

.box-middle {
  height: 115px;
  width: 115px;
  animation: enlarge .3s forwards linear;
  animation-delay: 0.3s;
}

@keyframes enlarge {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
    background-color: black;
  }
}
